<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Assan - Intro</title>

        <!-- Bootstrap -->
        <link href="main-template/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="main-template/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="intro-new.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>   
    <body>

        <header class="intro-header">
            <div class="top-bar">
                <div class="container">
                    <div class="pull-left">
                        <h3>ASSAN <small>v2.6</small></h3>
                    </div>
                    <div class="pull-right">
                        <a href="https://wrapbootstrap.com/theme/assan-multipurpose-13-themes-admin-WB05F069P" class="btn btn-lg btn-blue">Buy now for $17</a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 text-center">
                        <h1>Meet The Assan</h1>
                        <p class="lead text-uppercase">
                            Ultimate Multipurpose website template
                        </p>
                        <p>
                            Enjoy the diversity of Assan. Ultimate 15 website templates, Light and dark, boxed admin templates, Unlimited features, Over 400+ HTML files, 100+ Demos, 200+ Sass files, $40 Premium Plugins, Everything included with download file. 
                        </p>
                        <div class="buttons scroll-to">
                            <a href="#demos" class="btn btn-blue btn-lg">Check Demos</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="demos" id="demos">
            <div class="container">
                <h3>All Templates Demo</h3>
                <p class="subtitle">Click on image to see live preview</p>
                <div class="row">
                    <div class="col-sm-4">
                        <a href="main-template/index.html" target="_blank" class="demo-box">
                            <div class="overlay"></div>
                            <img src="demo-img/main.png" alt="" class="img-responsive">
                        </a>
                        <div class="demo-desc">
                            <h4>Main Demo</h4>
                            Multipurpose
                        </div>
                    </div><!--col end-->
                    <div class="col-sm-4">
                        <a href="e-commerce/index.html" target="_blank" class="demo-box">
                            <div class="overlay"></div>
                            <img src="demo-img/ecommerce.png" alt="" class="img-responsive">
                        </a>
                        <div class="demo-desc">
                            <h4>E-commerce Demo</h4>
                            For online shopping stores
                        </div>
                    </div><!--col end-->
                    <div class="col-sm-4">
                        <a href="assan-blog/index.html" target="_blank" class="demo-box">
                            <div class="overlay"></div>
                            <img src="demo-img/blog.png" alt="" class="img-responsive">
                        </a>
                        <div class="demo-desc">
                            <h4>Blog demo</h4>
                            For bloggers
                        </div>
                    </div><!--col end-->
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <a href="charity/index.html" target="_blank" class="demo-box">
                            <div class="overlay"></div>
                            <img src="demo-img/charity.png" alt="" class="img-responsive">
                        </a>
                        <div class="demo-desc">
                            <h4>Charity <small>NEW</small></h4>
                            Charity & Nonprofit 
                        </div>
                    </div><!--col end-->
                    <div class="col-sm-4">
                        <a href="medical/index.html" target="_blank" class="demo-box">
                            <div class="overlay"></div>
                            <img src="demo-img/medi.png" alt="" class="img-responsive">
                        </a>
                        <div class="demo-desc">
                            <h4>Medical</h4>
                            For medical & hospitals
                        </div>
                    </div><!--col end-->
                    <div class="col-sm-4">
                        <a href="assan-education/index.html" target="_blank" class="demo-box">
                            <div class="overlay"></div>
                            <img src="demo-img/edu.png" alt="" class="img-responsive">
                        </a>
                        <div class="demo-desc">
                            <h4>Education</h4>
                            For Colleges & schools
                        </div>
                    </div><!--col end-->
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <a href="real-estate/index.html" target="_blank" class="demo-box">
                            <div class="overlay"></div>
                            <img src="demo-img/real-estate.png" alt="" class="img-responsive">
                        </a>
                        <div class="demo-desc">
                            <h4>Real Estate</h4>
                            For real estate & property builders 
                        </div>
                    </div><!--col end-->
                    <div class="col-sm-4">
                        <a href="one-page/index.html" target="_blank" class="demo-box">
                            <div class="overlay"></div>
                            <img src="demo-img/onepage.png" alt="" class="img-responsive">
                        </a>
                        <div class="demo-desc">
                            <h4>One page</h4>
                            Multipurpose /  default
                        </div>
                    </div><!--col end-->
                    <div class="col-sm-4">
                        <a href="one-page/index-video.html" target="_blank" class="demo-box">
                            <div class="overlay"></div>
                            <img src="demo-img/onepage-video.png" alt="" class="img-responsive">
                        </a>
                        <div class="demo-desc">
                            <h4>One page</h4>
                            Multipurpose /  Video
                        </div>
                    </div><!--col end-->
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <a href="one-page/index-dark.html" target="_blank" class="demo-box">
                            <div class="overlay"></div>
                            <img src="demo-img/onepage-dark.png" alt="" class="img-responsive">
                        </a>
                        <div class="demo-desc">
                            <h4>One page</h4>
                            Multipurpose / dark version 
                        </div>
                    </div><!--col end-->
                    <div class="col-sm-4">
                        <a href="restaurant/index.html" target="_blank" class="demo-box">
                            <div class="overlay"></div>
                            <img src="demo-img/restaurant.png" alt="" class="img-responsive">
                        </a>
                        <div class="demo-desc">
                            <h4>Restaurant</h4>
                            Text rotate &  video home / Menu page
                        </div>
                    </div><!--col end-->
                    <div class="col-sm-4">
                        <a href="event-landing/index.html" target="_blank" class="demo-box">
                            <div class="overlay"></div>
                            <img src="demo-img/event.png" alt="" class="img-responsive">
                        </a>
                        <div class="demo-desc">
                            <h4>Event landing <small>NEW</small></h4>
                            Conferences, Meetings, Exhibitions, Congresses, Events, Event Management, 
                        </div>
                    </div><!--col end-->
                </div>


                <div class="row">
                    <div class="col-sm-4">
                        <a href="landing-page/index.html" target="_blank" class="demo-box">
                            <div class="overlay"></div>
                            <img src="demo-img/landing.png" alt="" class="img-responsive">
                        </a>
                        <div class="demo-desc">
                            <h4>landing Page</h4>
                            Multipurpose / Default
                        </div>
                    </div><!--col end-->
                    <div class="col-sm-4">
                        <a href="landing-page/index-contact.html" target="_blank" class="demo-box">
                            <div class="overlay"></div>
                            <img src="demo-img/landing-contact.png" alt="" class="img-responsive">
                        </a>
                        <div class="demo-desc">
                            <h4>landing Page</h4>
                            Multipurpose / Contact form
                        </div>
                    </div><!--col end-->
                    <div class="col-sm-4">
                        <a href="landing-page/index-newsletter.html" target="_blank" class="demo-box">
                            <div class="overlay"></div>
                            <img src="demo-img/landing-newsletter.png" alt="" class="img-responsive">
                        </a>
                        <div class="demo-desc">
                            <h4>landing Page</h4>
                            Multipurpose / Newsletter
                        </div>
                    </div><!--col end-->
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <a href="app-landing/index.html" target="_blank" class="demo-box">
                            <div class="overlay"></div>
                            <img src="demo-img/app-iphone.png" alt="" class="img-responsive">
                        </a>
                        <div class="demo-desc">
                            <h4>App landing</h4>
                            Default /  Explain your app with simple design
                        </div>
                    </div><!--col end-->
                    <div class="col-sm-4">
                        <a href="app-landing/index-android.html" target="_blank" class="demo-box">
                            <div class="overlay"></div>
                            <img src="demo-img/app-android.png" alt="" class="img-responsive">
                        </a>
                        <div class="demo-desc">
                            <h4>App landing</h4>
                            Android /  Explain your app with simple design
                        </div>
                    </div><!--col end-->
                    <div class="col-sm-4">
                        <a href="app-landing/index-video.html" target="_blank" class="demo-box">
                            <div class="overlay"></div>
                            <img src="demo-img/app-video.png" alt="" class="img-responsive">
                        </a>
                        <div class="demo-desc">
                            <h4>App landing</h4>
                            Video BG /  Explain your app with simple design
                        </div>
                    </div><!--col end-->
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <a href="wedding/index.html" target="_blank" class="demo-box">
                            <div class="overlay"></div>
                            <img src="demo-img/wedding.png" alt="" class="img-responsive">
                        </a>
                        <div class="demo-desc">
                            <h4>wedding</h4>
                            For wedding invitations
                        </div>
                    </div><!--col end-->
                    <div class="col-sm-4">
                        <a href="assan-personal-portfolio/index.html" target="_blank" class="demo-box">
                            <div class="overlay"></div>
                            <img src="demo-img/personal.png" alt="" class="img-responsive">
                        </a>
                        <div class="demo-desc">
                            <h4>Minimal Portfolio</h4>
                            Super clean & minimal personal portfolio
                        </div>
                    </div><!--col end-->
                </div>
                <div style="height: 50px;"></div>
                <h3>Admin dashboard demos</h3>
                <p class="subtitle">Click on image to see live preview</p>
                <div class="row">
                    <div class="col-sm-4">
                        <a href="admin/default-admin/index.html" target="_blank" class="demo-box">
                            <div class="overlay"></div>
                            <img src="demo-img/admin-light.png" alt="" class="img-responsive">
                        </a>
                        <div class="demo-desc">
                            <h4>Light Version</h4>
                            Flat design & Clean coded Template
                        </div>
                    </div><!--col end-->
                    <div class="col-sm-4">
                        <a href="admin/dark-admin/index.html" target="_blank" class="demo-box">
                            <div class="overlay"></div>
                            <img src="demo-img/admin-dark.png" alt="" class="img-responsive">
                        </a>
                        <div class="demo-desc">
                            <h4>Dark Version</h4>
                            Flat design & Clean coded Template
                        </div>
                    </div><!--col end-->
                    <div class="col-sm-4">
                        <a href="admin/default-admin/dashboard-boxed-layout.html" target="_blank" class="demo-box">
                            <div class="overlay"></div>
                            <img src="demo-img/admin-boxed.png" alt="" class="img-responsive">
                        </a>
                        <div class="demo-desc">
                            <h4>Boxed Demo</h4>
                            Flat design & Clean coded Template
                        </div>
                    </div><!--col end-->
                </div>
            </div>
        </div>

        <div class="feedbacks">
            <div class="container">
                <h2>customer feedbacks</h2>
                <div class='row'>
                    <div class='col-sm-4'>
                        <div class="feedback-box">
                            <p>
                                " I am using this template for my new project. I had a special problem regarding the tabs and I contacted the seller. I had a reply immediately and my problem was solved in no time. I can really recommend this template which is very good programmed, clean and includes uncounted features. And the support is just unbelievable!!! "                        
                            </p>
                            <h5>zorbas2 <small>Wrapbootstrap User</small></h5>
                        </div>
                        <div class="feedback-box">
                            <p>
                                " This theme is awesome. So much variety and it allowed me to create a website for a client in a couple of days.

                                Also, I had an issue getting the gallery element to work on a different theme however the seller responded very quickly to my enquiry and helped me fix the issue.
                                "
                            </p>
                            <h5>lewisia <small>Wrapbootstrap User</small></h5>
                        </div>
                    </div>
                    <div class='col-sm-4'>
                        <div class="feedback-box">
                            <p>
                                " This is a great theme! I love it and recommend it to anyone wanting to purchase it. " </p>
                            <h5>bmika <small>Wrapbootstrap User</small></h5>
                        </div>
                        <div class="feedback-box">
                            <p>
                                " Hello,<br>

                                your theme gets better and better on every version. Gratulation to this wonderful theme and please keep on working this way (good once)!! "
                            </p>
                            <h5>webmasterfcn1 <small>Wrapbootstrap User</small></h5>
                        </div>
                        <div class="feedback-box">
                            <p>
                                " Excellent place to start! Loved how easy it was to move right in with my content... "</p>
                            <h5>sjl18gb <small>Wrapbootstrap User</small></h5>
                        </div>
                        <div class="feedback-box">
                            <p> " Hi,

thanks for that beautiful and feature rich template ! "</p>
                             <h5>todo42 <small>Wrapbootstrap User</small></h5>
                        </div>
                    </div>
                    <div class='col-sm-4'>
                        <div class="feedback-box">
                            <p>
                                " Hi mate,

                                thank you for your wonderful template!

                                As a backend web developer, this makes it super easy for me to build a new web application. "
                            </p>
                            <h5>michilehr <small>Wrapbootstrap User</small></h5>
                        </div>
                        <div class="feedback-box">
                            <p>
                                " Compared to others this was a very easy to use and adapt template. It didn't break as easy with minor changes. Thanks "
                            </p>
                            <h5>chaostheory <small>Wrapbootstrap User</small></h5>
                        </div>
                        <div class="feedback-box">
                            <p>
                                " Hi, <br>
                                Thanks for the support ! The revolution slider is working fine now. I love it and highly recommend.<br>
                                Best,
                                Celso
                                "
                            </p>
                            <h5>Celso <small>Wrapbootstrap User</small></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="quote">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                         <p class="lead">
                 "  You may use any block components from any template anywhere you want. Just copy and paste. In addition the every update will include the new features and template of different purpose.
               All future updates are free if you already purchased a license. "
                </p>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <ul class="list-inline">
                <li><a target="_blank" href="https://wrapbootstrap.com/user/design_mylife">Support</a></li>
                <li><a target="_blank" href="https://www.facebook.com/rakeshdesigns/">Facebook</a></li>
                  <li><a target="_blank" href="https://twitter.com/rakesh_wd">Twitter</a></li>
            </ul>
            <span>&copy; Copyright 2016-2017. Design_mylife</span>
        </footer>
        <!-- jQuery  -->
        <script src="main-template/js/jquery.min.js"></script>
        <script src="main-template/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript">
            //smooth scroll
            $(document).ready(function () {
              $(function() {
  $('.scroll-to a[href*="#"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
            });
        </script>
    </body>
</html>